body {
    margin: 0;
    padding: 0;

    font-family: Arial, sans-serif;
    font-size: 12px;
    line-height: 23px;
    font-weight: 400;
    color: #000000;
    text-transform: none;

    background-color: #dfdfdf;
}

a {
    text-decoration: none;
}

.button {
    text-align: center;
    vertical-align: middle;
    border-radius: 2px;
    border: none;
}
.button:hover,
.button:focus {
    cursor: pointer;
}

.visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    overflow: hidden;
}

.site-wrapper {
    /*height: 312px;*/

    max-width: 490px;
    margin-top: 46px;
    margin-left: 41px;
    list-style: none;
    /*background-color: #ffffff;*/
    /*box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.25);*/
    border-radius: 3px;
}


/*Если не заработает изменить на .site-wrapper.label-tab или .site-wrapper > .label-tab*/
.label-tab {
    display: inline-block;
    margin: 0;
    margin-right: 6px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 5px;
    padding-bottom: 5px;
    box-sizing: border-box;

    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: #ffffff;
    text-align: center;
    text-shadow: 0px -1px #084d6e;
    background-image: linear-gradient( #0685b4, #1c6bad);
    border-radius: 3px 3px 0 0;
}

.label-tab:hover {
    cursor: pointer;
}

/*#tab-profile:checked + .label-tab,*/
/*#tab-user-friends:checked + .label-tab*/

.current-label {
    display: inline-block;
    position: relative;
    border-bottom: none;

    margin: 0;
    margin-bottom: -1px;
    margin-right: 5px;
    padding-top: 6px;
    padding-bottom: 5px;
    padding-left: 16px;
    padding-right: 16px;

    box-sizing: border-box;

    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: #000000;
    text-align: center;
    text-shadow: none;
    border-radius: 3px 3px 0 0;
    /*box-shadow:*/
            /*1px -1px 1px 0px rgba(0, 0, 0, 0.1),*/
            /*-1px -1px 1px 0px rgba(0, 0, 0, 0.1);*/
    background-image: none;
    background-color: #ffffff;
}

.current-label::after {
    content: ''; /* Добавляем пустое содержание для тени */
    display: block; /* Блочный элемент */
    position: absolute; /* Абсолютное позиционирование */
    top: -1px; bottom: 0;
    left: -1px; right: -1px; /* Тень чуть больше ширины и высоты заголовка */
    z-index: -1;
}

.content {
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 12px;
    padding-bottom: 14px;
    background-color: #ffffff;
    border-radius: 0 5px 5px 5px;
}

.current-label::after,
.content {

    box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.user-profile {
    display: flex;
    margin: 0;
    padding: 0;
    padding-bottom: 37px;
    /*border-radius: 0 5px 5px 5px;*/
    background-color: #ffffff;
    /*outline: 1px solid orange;*/
}

.user-photo {
    display: flex;
    flex-direction: column;
    margin: 0px;
    /*margin-right: 20px;*/
    padding: 0;
    /*outline: 1px solid yellow;*/
}

.user-profile-photo.current-user {
    margin-bottom: 6px;
    box-shadow: inset 0px 1px 3px 3px rgba(0,0,0,.1);
    height: 169px;
    width: 132px;
    background-image: url("../img/user-0.png");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.button.add-friend-button,
.button {
    font-size: 12px;
    line-height: 23px;
    font-weight: 400;
    height: 31px;
    width: 132px;
    margin: 0px;
    /*padding-left: 16px;*/
    /*padding-right: 16px;*/
    padding-top: 4px;
    padding-bottom: 4px;

    color: #ffffff;
    background: linear-gradient( #e68100, #e65400); /*Линейный градиент*/
    text-shadow: 0px -1px #833900;
    box-shadow: 0px 1px 1px #b6b6b6;
}

.user-info {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    padding-top: 7px;
    padding-left: 4px;
    /*outline: 1px solid yellowgreen;*/
}

.user-name-wrapper {
    /*position: relative;*/
    width: 289px;
    height: 23px;
    font-size: 23px;
    line-height: 21px;
    font-weight: 400;
    padding: 0;
    margin: 0;
    outline: 1px solid darkred;
}

.user-name-wrapper:hover {
    cursor: pointer;
}

.user-name.current-user-name {
    display: block;
    font-size: 23px;
    line-height: 21px;
    font-weight: 400;
    padding: 0;
    margin: 0;
    /*padding-top: 8px;*/

    color: #000000;
    text-decoration: none;
    outline-color: orchid;
}

.user-name-section {
    display: none;
    height:23px;
    /*position: absolute;*/
    /*top: 0px;*/
    /*left: 0px;*/
}

input[type="text"].user-name-field{
    display: block;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    padding: 0px 5px;
    color: #323232;
    background-color: #ffffff;
    border: 1px solid #d3d3d2;
    border-radius: 3px;

}

input[type="text"].phone-field,
input[type="email"].e-mail-field,
input[type="text"].add-interest {
    display: block;
    box-sizing: border-box;
    width: 130px;
    font: inherit;
    line-height: 21px;
    padding: 0px 5px;
    color: #323232;
    background-color: #ffffff;
    border: 1px solid #d3d3d2;
    border-radius: 3px;
}

.residence.current-residence {
    font-size: 11px;
    line-height: 21px;
    font-weight: 400;
    margin: 0;
    margin-bottom: 17px;
    padding: 0;
    color: #757575;
}

.about-user {
    display: flex;
    /*outline: 1px solid blue;*/

}

.user-profile-list {
    list-style: none;
    font-size: 12px;
    line-height: 23px;
    font-weight: 700;
    color: #000000;
    margin: 0;
    padding: 0;
    margin-right: 32px;
    outline: 1px solid blue;
}

.interest {
    padding-top: 23px;
}

.user-info-list {
    list-style: none;
    font-size: 12px;
    line-height: 23px;
    font-weight: 400;

    margin: 0px;
    padding: 0px;
    color: #000000;
    outline: 1px solid blue;
}

.user-info-list li {
    margin: 0;
    padding: 0;
    outline: 1px solid red;
}

.phone:hover,
.email:hover {
    cursor: pointer;
}

.user-phone {
    display: block;
    width: 130px;
    height: 23px;
    margin: 0;
    padding: 0;
    outline: 1px solid green;
}
.user-e-mail {
    display: block;
    width: 130px;
    height: 23px;
    margin: 0;
    padding: 0;
    color: #1574af;
    text-decoration: underline;
}

.interests-container {
    position: relative;
    margin: 0;
    padding: 0;
    display: block;
    width: 289px;
    outline: 10px dotted  #1c6bad;
}

.user-interests-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    padding-right: 40px;

    list-style: none;
    font-size: 12px;
    line-height: 23px;
    font-weight: 400;
}

.user-interests-list li {
    padding-left: 9px;
    padding-right: 10px;
    margin-right: 3px;
    margin-bottom: 3px;

    color: #1574af;
    border: 1px solid #d5d5d5;
    border-radius: 2px;
}

.user-interests-list li:hover,
.user-interests-list li:focus,
.add-interests-button:hover {
    cursor: pointer;
    color: #000000;
    background-color: #f3f3f3;
}

.add-interests-button {
    position: absolute;
    top: 0px;
    left: 260px;
    display: none;
    height: 23px;
    width: 23px;
    color: #1574af;
    background-color: #ffffff;
    border: 1px solid #d5d5d5;
    border-radius: 50%;
    z-index: 1;
}

.modal {
    display: none;
    position: absolute;
    top: 23px;
    left: 260px;

    padding: 15px;
    padding-top: 0px;
    margin: 0;
    background-color: #ffffff;
    box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    z-index: 2;
}

.modal-show {
    display: block;
    position: absolute;
    top: 23px;
    left: 260px;

    padding: 15px;
    padding-top: 0px;
    margin: 0;
    background-color: #ffffff;
    box-shadow: 0px 1px 2px 2px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    z-index: 2;
}

.interest-form {
    margin: 0;
    padding: 0;

}

.close-button {
    position: absolute;
    top: 0;
    right: 0;
    height: 19px;
    width: 19px;
    color: #000000;
    background: transparent;
    border: none;
    cursor: pointer;
    z-index: 3;
}

.site-wrapper.wrapper-2 {

     background-color: #ffffff;

 }

.wrapper-2 {
    display: none;
    background-color: #ffffff;

}

.user-friends {

    display: block;
    height: 250px;
    overflow: scroll;
    /*padding-top: 15px;*/
    /*padding-left: 15px;*/
    /*padding-right: 0px;*/
    /*padding-bottom: 15px;*/
    padding: 0;
    margin: 0;
    /*border-radius: 0 5px 5px 5px;*/
    background-color: #ffffff;
    outline: 1px solid orange;
}

/*.friends-list {*/
/*overflow: scroll; !* Добавляем полосы прокрутки *!*/
/*width: 300px; !* Ширина блока *!*/
/*height: 150px; !* Высота блока *!*/
/*padding: 5px; !* Поля вокруг текста *!*/
/*border: solid 1px black; !* Параметры рамки *!*/
/*}*/
.friends-list {
    display: flex;

    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
}

.friend {
    display: flex;
    width: 215px;
    height: 62px;
    padding: 0;
    margin: 0;
    margin-bottom: 31px;
    text-align: start;

    /*outline: 1px solid yellowgreen;*/
    margin-right: 10px;

}

.friend:nth-child(even) {
    margin-right: 0px;
}

.user-profile-photo  {
    padding: 0;
    margin: 0;
    margin-right: 17px;
}
.user-profile-photo a{
   height: 62px;
}

.friend-info {
    display: flex;
    flex-direction: column;
    /*display: block;*/
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

.wrapper-friend-info {
    height: 45px;
    margin: 0;
    padding: 0;
}

.user-name {
    list-style: none;
    font-size: 13px;
    line-height: 20px;
    font-weight: 700;

    padding: 0;
    margin: 0;

    color: #1574af;
    text-decoration: underline;
}

.residence {
    font-size: 11px;
    line-height: 1;
    font-weight: 400;

    margin: 0;
    padding: 0;

    color:  #373737;
}

.condition p{
    font-size: 10px;
    /*line-height: 23px;*/
    font-style: italic;

    padding: 0;
    margin: 0;
    /*margin-top: 15px;*/

    color: #2f8a26;
}