body {
    margin: 0;
    padding: 0;

    font-family: Arial, sans-serif;
    font-size: 12px;
    line-height: 23px;
    font-weight: 400;
    color: #000000;
    text-transform: none;

    background-color: #dfdfdf;

    /* Временно для сетки */
    /*background-image: url("img/nerds-index.jpg");*/
    /*background-size: 1372px auto;*/
    /*background-repeat: no-repeat;*/
}

a {
    text-decoration: none;
}

.button {
    text-align: center;
    vertical-align: middle;
    border-radius: 2px;
    border: none;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    overflow: hidden;
}

.site-wrapper {
    width: 490px;
    margin-top: 46px;
    margin-left: 40px;
    list-style: none;
    background-color: #ffffff;
    /*box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.25);*/
    border-radius: 3px;
}

.main-navigation {
    height: 31px;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    list-style: none;
    background-color: #dfdfdf;

    display: flex;
    margin: 0;
    padding: 0;
}

.site-navigation{
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;

}
.site-navigation a {
    color: #ffffff;
}

.site-navigation li {
    margin-right: 10px;
}

.tab {
    box-sizing: border-box;
    /*width: 159px;*/
    margin: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 17px;
    text-shadow: 0px -1px #084d6e;
    background: linear-gradient( #0685b4, #1c6bad);
    border-radius: 3px 3px 0 0;

}

.current-tab {
    box-sizing: border-box;
    /*width: 90px;*/
    margin: 0;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 3px 3px 0 0;
    box-shadow: 1px -1px 0px 0px rgba(0, 0, 0, 0.25);
    background-color: #ffffff;
}

.current-tab a{
    color: #000000;
    background-color: #ffffff;
}

.main-page{
    /*display: flex;*/
    /*margin-top: 15px;*/
    /*margin-left: 15px;*/
    /*margin-right: 28px;*/
    /*margin-bottom: 15px;*/
    padding-bottom: 35px;
    border-radius: 3px;
    box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.25);
}

.user-profile {
    display: flex;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 28px;
    padding-bottom: 15px;
    margin: 0;
    outline: 1px solid orange;
}

.user-photo {
    display: flex;
    flex-direction: column;
    margin: 0px;
    /*margin-right: 20px;*/
    padding: 0;
    outline: 1px solid yellow;
}

.user-profile-photo.current-user {
    margin-bottom: 6px;
    height: 169px;
}

.button.add-friend-button {
    font-size: 12px;
    line-height: 23px;
    font-weight: 400;
    height: 31px;
    width: 132px;
    margin: 0px;
    /*padding-left: 16px;*/
    /*padding-right: 16px;*/
    padding-top: 4px;
    padding-bottom: 4px;

    color: #ffffff;
    background: linear-gradient( #e68100, #e65400); /*Линейный градиент*/
    text-shadow: 0px -1px #833900;
    box-shadow: 0px 1px 1px #b6b6b6;
}

.user-info {
    display: flex;
    flex-direction: column;
    outline: 1px solid yellowgreen;
}

.user-name.current-user-name {
    font-size: 23px;
    line-height: 21px;
    font-weight: 400;
    padding: 0;
    margin: 0;
    padding-top: 7px;

    color: #000000;
    text-decoration: none;
}

.residence.current-residence {
    font-size: 11px;
    line-height: 21px;
    font-weight: 400;
    margin: 0;
    margin-bottom: 24px;
    padding: 0;
    color: #757575;
}

.about-user {
    display: flex;
    outline: 1px solid blue;

}

.user-profile-list {
    list-style: none;
    font-size: 12px;
    line-height: 23px;
    font-weight: 700;
    color: #000000;
    margin: 0;
    padding: 0;
    margin-right: 32px;
}

.interest {
    padding-top: 25px;
}

.user-info-list {
    list-style: none;
    font-size: 12px;
    line-height: 23px;
    font-weight: 400;

    margin: 0px;
    padding: 0px;
    color: #000000;
}

.user-e-mail {
    color: #1574af;
    text-decoration: underline;
}

.user-interests-list {
    list-style: none;
    font-size: 12px;
    line-height: 23px;
    font-weight: 400;

    display: flex;
    margin: 0;
    padding: 0;
}

.user-interests-list li {
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 3px;

    border: 1px solid #d5d5d5;
    border-radius: 2px;
    color: #1574af;
}

.user-interests-list li:hover,
.user-interests-list li:focus {
    color: #000000;
    cursor: pointer;
}

.user-friends {
    display: none;

    padding-top: 15px;
    padding-left: 15px;
    padding-right: 28px;
    padding-bottom: 15px;
    margin: 0;
    outline: 1px solid orange;
}

/*.friends-list {*/
    /*overflow: scroll; !* Добавляем полосы прокрутки *!*/
    /*width: 300px; !* Ширина блока *!*/
    /*height: 150px; !* Высота блока *!*/
    /*padding: 5px; !* Поля вокруг текста *!*/
    /*border: solid 1px black; !* Параметры рамки *!*/
/*}*/
.friends-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
}

.friend {
    display: flex;
    width: 222px;
    padding: 0;
    margin: 0;
    margin-bottom: 25px;

    outline: 1px solid yellowgreen;
}

.user-profile-photo {
    padding: 0;
    margin: 0;
    margin-right: 17px;
}

.friend-info {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.user-name {
    list-style: none;
    font-size: 13px;
    line-height: 20px;
    font-weight: 700;

    padding: 0;
    margin: 0;

    color: #1574af;
    text-decoration: underline;
}

.residence {
    font-size: 11px;
    line-height: 15px;
    font-weight: 400;

    margin: 0;
    padding: 0;

    color:  #373737;
}

.condition {
    font-size: 10px;
    line-height: 23px;
    font-style: italic;

    padding: 0;
    margin: 0;
    margin-top: 10px;

    color: #2f8a26;
}